@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,700&display=swap');

:root{
    --white:#F7FBFC;
    --veryLightBlue:#D6E6F2;
    --lightBlue:#B9D7EA;
    --Blue:#6190c2;
    --darkBlue:#112D4E;
}
*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#root{
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    background-color: var(--veryLightBlue);
    position: relative;
}

